.menu {
    width: 50%;
    display: block;
    float: left;
    margin-top: 12%;
    text-align: center;
}

.buttons {
    display: block;
    margin: 10px;
}

.board {
    background-color: #F5EAD8;
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 10px;
}
.cell {
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}